.gano_perdio {
    position: fixed;
    left: 470px;
    top: 310px;
    font-size: 150px;
}

.ganador {
    position: fixed;
    left: 520px;
    top: 10px;
}

 .trofeopic {
        position: fixed;
        left: 680px;
        top: 130px;
        width: 200px;
        height: 200px;
}


.botoninicio {
    position: fixed;
    bottom: 25px;
    right: 30px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
    cursor: 'pointer';
    font-size: 16px;
}
