.Tablero-columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  
  .Tablero-fila {
    display: flex;
    flex-direction: row;
  }
  
  .Tablero-casilla {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #3b302a;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .Tablero-casilla button {
      width: 85%;
      height: 85%;
  }
  
  .Tablero-casilla .Amarillo {
      background: yellow;
  }
  
  .Tablero-casilla .Rojo {
      background: red;
  }
  
  .Tablero-casilla .Verde {
      background: green;
  }
  
  .Tablero-casilla .Azul {
      background: blue;
  }