.MovimientoRealizado {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    background-color: #00ADEE;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
  
.MovimientoRealizado img {
    display: flex;
    width: 100px;
    height: auto;
    cursor: pointer;
    align-self: center;
}

.MovimientoRealizado h1 {
    display: flex;
    align-self: center;
    color: #E5E6E7;
    font-size: 30px;
}