#root {
  width: 100%;
}

body::before {
  background-image: url('/background.jpeg');
}

#home {
  display: flex;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#crear {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  margin: 5%;
}

#unirse {
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;
}

.partida-listada {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}

#crear button {
  background-color: #ffaa64;
  color: white;
  width: 100%;
  height: 100px;
  outline: none;
}

#unirse button {
  padding: 3%;
  text-align: left;
  border: none;
  outline: none;
}

#unirse p {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

#unirse h3 {
  text-align: left;  
  margin-top: 0%;
}

#unirse p {
  text-align: left;  
  margin-left: 3%;
}

#unirse button:hover {
  background-color: #ffaa64;
  color: white;
}

.filtrarPartidas {
  display: flex;
  align-items: center;
  gap: 40px; 
}


.filtrarPartidas input#barraBusqueda {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}


.filtrarJugs{
  display: flex;
  align-items: center;
  gap: 15px; 
}


.filtroJug {
  display: flex;
  align-items: center;
  gap: 30px; /* Space between min and max controls */
}

/* Each player-filter-item (Mín and Máx) has label above controls */
.filtroJugItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlFiltro {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filtroJugItem button {
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  background-color: #ffaa64;
  border: none;
  outline: none;
}

.controlFiltro span {
  font-size: 18px;
  width: 30px;
  text-align: center;
}
